body {
    margin: 0;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainButton {
    color: white;
    background-color: #2b2b2b;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    padding: 16px;
}

.usersClass {
    display: flex;
    flex-direction: row;
    height: max-content;
    color: white;
    background-color: #2b2b2b;
}

.user-card {
    padding: 20px;
}